<div class="nzcv-helper">
    <div>
        <h3>Hex-decimal-binary conversion helper</h3>
        <p>Change any value at any time, and see the changes in the other representations (including
        the condition code flags, assuming that the value represents the status
        register).</p>
        <dl>
            <dt>Hex</dt>
            <dd><input oninput="recalc('hex')" id="hex_val" value="0x00000000"></dd>
            <dt>Decimal (natural numbers—no negatives)</dt>
            <dd><input oninput="recalc('dec')" id="dec_val" value="0"></dd>
            <dt>Binary</dt>
            <dd><input oninput="recalc('bin')" id="bin_val" value="00000000000000000000000000000000"></dd>
            <dt>Flags</dt>
            <!-- <dd>N:<span id="n_val">0</span> Z:<span id="z_val">0</span> C:<span id="c_val">0</span> V:<span id="v_val">0</span></dd> -->
            <table>
                <tbody>
                    <tr><th>N</th><th>Z</th><th>C</th><th>V</th></tr>
                    <tr>
                        <td><span id="n_val">0</span></td>
                        <td><span id="z_val">0</span></td>
                        <td><span id="c_val">0</span></td>
                        <td><span id="v_val">0</span></td>
                    </tr>
                </tbody>
            </table>
        </dl>
    </div>
</div>

